.exam3
{
    background-color: orange;
    width: 90%;
    margin: auto;
    display: block;
}


.item1{
   text-align: left ;
}

.item2{
    text-align: center ;
 }

 .item1{
    text-align: right ;
 }

 không có br là nó dạt ngang á
 là sao, đẻ
 à hiểucasi thẻ xuong dong, đúm rồi,ủa vậy song hả bro,
 alo

